.nav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;

	
}

.nav a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
	
}

.dropdown {
    float: left;
    overflow: hidden;


}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #409949;
}

.dropdown:hover .dropdown-content {
    display: block;
}
------------------------------------------------------------
.dropdown2 {
   position: relative;



}

.dropdown2 .dropbtn2 {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}



.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
     height: 30px;
}

.dropdown-content2 a:hover {
    background-color: #409949;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
}

}
#section {width:800px; margin:0 auto;border:1px solid #000}


.container2 {
    width: 400px;
	position: relative;
	text-align:center; 
	border: 1px solid;
	border-color: green;
}

#news{
    max-width : 700px;
    padding: 30px;
    border: 2px solid gray;
    background: #e2e2e2;
}

.container3 {
	float: center-right;
    width: auto;
    margin: auto;
	position: relative;
	text-align:center; 
}
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

#first {
    width: suto;
    float: left;
    height: 100px;
    background-color: green;
}

body {
	margin: 0px;
	padding-top: 40px;
	background-color: #555;
	font-family: arial;
}
#header {
	padding:10px;
}

#header2 {
	background-color: #ededed;
	padding:10px;
	width: 400px;
}

#wrapper {
	border: 1px solid;
	border-color: #ededed;
	position:relative;
}


#footer {
	opacity: 0.5;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}


